.gradient-background{
    background: linear-gradient(300deg,#eeaeca, #94bbe9, #eeaeca);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #4c0d28;
}

h5{
    text-transform: uppercase;
    font-weight: 300;
}

.harga{
    color: green;
}
